### Problem Statement: Use random forest to prepare a model on fraud data treating those who have taxable_income <= 30000 as "Risky" and others are "Good"

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [5]:
data = pd.read_csv('Fraud_check.csv')
data

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [6]:
data.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [7]:
data.columns

Index(['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban'],
      dtype='object')

In [8]:
data['Taxable.Income']=np.where(data['Taxable.Income']<=30000,'Risky','Good')

In [9]:
data

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,Good,50047,10,YES
1,YES,Divorced,Good,134075,18,YES
2,NO,Married,Good,160205,30,YES
3,YES,Single,Good,193264,15,YES
4,NO,Married,Good,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,Good,39492,7,YES
596,YES,Divorced,Good,55369,2,YES
597,NO,Divorced,Good,154058,0,YES
598,YES,Married,Good,180083,17,NO
599,NO,Divorced,Good,158137,16,NO

In [10]:
label_encoder = preprocessing.LabelEncoder()
data['Undergrad']=label_encoder.fit_transform(data['Undergrad'])
data['Marital.Status']=label_encoder.fit_transform(data['Marital.Status'])
data['Work.Experience']=label_encoder.fit_transform(data['Work.Experience'])
data['Taxable.Income']=label_encoder.fit_transform(data['Taxable.Income'])
data['Urban']=label_encoder.fit_transform(data['Urban'])

In [11]:
data

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,0,50047,10,1
1,1,0,0,134075,18,1
2,0,1,0,160205,30,1
3,1,2,0,193264,15,1
4,0,1,0,27533,28,0
...,...,...,...,...,...,...
595,1,0,0,39492,7,1
596,1,0,0,55369,2,1
597,0,0,0,154058,0,1
598,1,1,0,180083,17,0
599,0,0,0,158137,16,0

In [12]:
array = data.values
array

array([[     0,      2,      0,  50047,     10,      1],
       [     1,      0,      0, 134075,     18,      1],
       [     0,      1,      0, 160205,     30,      1],
       ...,
       [     0,      0,      0, 154058,      0,      1],
       [     1,      1,      0, 180083,     17,      0],
       [     0,      0,      0, 158137,     16,      0]], dtype=int64)

In [13]:
X = array[:,[0,1,3,4,5]]

In [14]:
Y = array[:,2]

In [15]:
X

array([[     0,      2,  50047,     10,      1],
       [     1,      0, 134075,     18,      1],
       [     0,      1, 160205,     30,      1],
       ...,
       [     0,      0, 154058,      0,      1],
       [     1,      1, 180083,     17,      0],
       [     0,      0, 158137,     16,      0]], dtype=int64)

In [16]:
Y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0], dtype=int64)

In [45]:
# Random Forest Classification
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, oob_score=True, max_features=3)
model.fit(X, Y)

RandomForestClassifier(max_features=3, oob_score=True)

In [46]:
# Accuracy 
accuracy = model.score(X, Y)
print(accuracy*100)

100.0

In [47]:
model.estimators_

[DecisionTreeClassifier(max_features=3, random_state=476743167),
 DecisionTreeClassifier(max_features=3, random_state=1624307107),
 DecisionTreeClassifier(max_features=3, random_state=724382014),
 DecisionTreeClassifier(max_features=3, random_state=1058918115),
 DecisionTreeClassifier(max_features=3, random_state=544050649),
 DecisionTreeClassifier(max_features=3, random_state=1153648316),
 DecisionTreeClassifier(max_features=3, random_state=580371395),
 DecisionTreeClassifier(max_features=3, random_state=1523007509),
 DecisionTreeClassifier(max_features=3, random_state=391054320),
 DecisionTreeClassifier(max_features=3, random_state=687441171),
 DecisionTreeClassifier(max_features=3, random_state=997261276),
 DecisionTreeClassifier(max_features=3, random_state=846060088),
 DecisionTreeClassifier(max_features=3, random_state=2005507509),
 DecisionTreeClassifier(max_features=3, random_state=340255129),
 DecisionTreeClassifier(max_features=3, random_state=1629157261),
 DecisionTreeClassifier(max_features=3, random_state=156714952),
 DecisionTreeClassifier(max_features=3, random_state=797592272),
 DecisionTreeClassifier(max_features=3, random_state=1137267416),
 DecisionTreeClassifier(max_features=3, random_state=1787015944),
 DecisionTreeClassifier(max_features=3, random_state=2107378288),
 DecisionTreeClassifier(max_features=3, random_state=31939191),
 DecisionTreeClassifier(max_features=3, random_state=777486646),
 DecisionTreeClassifier(max_features=3, random_state=1610253892),
 DecisionTreeClassifier(max_features=3, random_state=1524167371),
 DecisionTreeClassifier(max_features=3, random_state=1094526921),
 DecisionTreeClassifier(max_features=3, random_state=1299215382),
 DecisionTreeClassifier(max_features=3, random_state=831712164),
 DecisionTreeClassifier(max_features=3, random_state=370581533),
 DecisionTreeClassifier(max_features=3, random_state=981861626),
 DecisionTreeClassifier(max_features=3, random_state=1391868831),
 DecisionTreeClassifier(max_features=3, random_state=991249176),
 DecisionTreeClassifier(max_features=3, random_state=2007498873),
 DecisionTreeClassifier(max_features=3, random_state=621488551),
 DecisionTreeClassifier(max_features=3, random_state=587287407),
 DecisionTreeClassifier(max_features=3, random_state=133557746),
 DecisionTreeClassifier(max_features=3, random_state=1817043078),
 DecisionTreeClassifier(max_features=3, random_state=2074723117),
 DecisionTreeClassifier(max_features=3, random_state=2073417384),
 DecisionTreeClassifier(max_features=3, random_state=768593231),
 DecisionTreeClassifier(max_features=3, random_state=969768479),
 DecisionTreeClassifier(max_features=3, random_state=627738324),
 DecisionTreeClassifier(max_features=3, random_state=727975320),
 DecisionTreeClassifier(max_features=3, random_state=1547535823),
 DecisionTreeClassifier(max_features=3, random_state=109659607),
 DecisionTreeClassifier(max_features=3, random_state=579873096),
 DecisionTreeClassifier(max_features=3, random_state=1173887465),
 DecisionTreeClassifier(max_features=3, random_state=140053957),
 DecisionTreeClassifier(max_features=3, random_state=1335628638),
 DecisionTreeClassifier(max_features=3, random_state=829489757),
 DecisionTreeClassifier(max_features=3, random_state=4960147),
 DecisionTreeClassifier(max_features=3, random_state=390353895),
 DecisionTreeClassifier(max_features=3, random_state=1297500290),
 DecisionTreeClassifier(max_features=3, random_state=901146203),
 DecisionTreeClassifier(max_features=3, random_state=361715961),
 DecisionTreeClassifier(max_features=3, random_state=1502902142),
 DecisionTreeClassifier(max_features=3, random_state=1427484582),
 DecisionTreeClassifier(max_features=3, random_state=101919961),
 DecisionTreeClassifier(max_features=3, random_state=463681173),
 DecisionTreeClassifier(max_features=3, random_state=90189324),
 DecisionTreeClassifier(max_features=3, random_state=1165269671),
 DecisionTreeClassifier(max_features=3, random_state=747061549),
 DecisionTreeClassifier(max_features=3, random_state=1791638329),
 DecisionTreeClassifier(max_features=3, random_state=1095959363),
 DecisionTreeClassifier(max_features=3, random_state=1599059151),
 DecisionTreeClassifier(max_features=3, random_state=1908770144),
 DecisionTreeClassifier(max_features=3, random_state=2129394894),
 DecisionTreeClassifier(max_features=3, random_state=1213686726),
 DecisionTreeClassifier(max_features=3, random_state=17494839),
 DecisionTreeClassifier(max_features=3, random_state=893437737),
 DecisionTreeClassifier(max_features=3, random_state=398342841),
 DecisionTreeClassifier(max_features=3, random_state=614242748),
 DecisionTreeClassifier(max_features=3, random_state=45362329),
 DecisionTreeClassifier(max_features=3, random_state=1284533093),
 DecisionTreeClassifier(max_features=3, random_state=206317411),
 DecisionTreeClassifier(max_features=3, random_state=545444686),
 DecisionTreeClassifier(max_features=3, random_state=723400199),
 DecisionTreeClassifier(max_features=3, random_state=1237076263),
 DecisionTreeClassifier(max_features=3, random_state=2006410096),
 DecisionTreeClassifier(max_features=3, random_state=1551572846),
 DecisionTreeClassifier(max_features=3, random_state=677193369),
 DecisionTreeClassifier(max_features=3, random_state=625762259),
 DecisionTreeClassifier(max_features=3, random_state=1812463637),
 DecisionTreeClassifier(max_features=3, random_state=765845068),
 DecisionTreeClassifier(max_features=3, random_state=1445225753),
 DecisionTreeClassifier(max_features=3, random_state=1431207164),
 DecisionTreeClassifier(max_features=3, random_state=601194092),
 DecisionTreeClassifier(max_features=3, random_state=1158500170),
 DecisionTreeClassifier(max_features=3, random_state=1934364650),
 DecisionTreeClassifier(max_features=3, random_state=1578314255),
 DecisionTreeClassifier(max_features=3, random_state=539745847),
 DecisionTreeClassifier(max_features=3, random_state=1438606355),
 DecisionTreeClassifier(max_features=3, random_state=1924466357),
 DecisionTreeClassifier(max_features=3, random_state=946478564),
 DecisionTreeClassifier(max_features=3, random_state=1940668977),
 DecisionTreeClassifier(max_features=3, random_state=1842565759),
 DecisionTreeClassifier(max_features=3, random_state=1043956367),
 DecisionTreeClassifier(max_features=3, random_state=191046383),
 DecisionTreeClassifier(max_features=3, random_state=1883954840),
 DecisionTreeClassifier(max_features=3, random_state=179653728),
 DecisionTreeClassifier(max_features=3, random_state=782459338)]

In [48]:
model.oob_score_

0.7466666666666667

In [49]:
model.classes_

array([0, 1], dtype=int64)

In [50]:
data['model_pred']=model.predict(X)
data[['Taxable.Income','model_pred']]

     Taxable.Income  model_pred
0                 0           0
1                 0           0
2                 0           0
3                 0           0
4                 0           0
..              ...         ...
595               0           0
596               0           0
597               0           0
598               0           0
599               0           0

[600 rows x 2 columns]

In [51]:
pd.crosstab(data['Taxable.Income'],data['model_pred'])

model_pred        0    1
Taxable.Income
0               476    0
1                 0  124

In [52]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [53]:
# Bagging
kfold = KFold(n_splits=10, random_state=7, shuffle=True)
cart = DecisionTreeClassifier()
num_trees = 500
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=7)
results1 = cross_val_score(model, X, Y, cv=kfold)
print(results1.mean()*100)
results1

74.66666666666666

array([0.73333333, 0.7       , 0.83333333, 0.83333333, 0.73333333,
       0.7       , 0.73333333, 0.65      , 0.78333333, 0.76666667])

In [54]:
# AdaBoost Classification
num_trees = 100
kfold = KFold(n_splits=10, random_state=7,shuffle=True)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=7)
results2 = cross_val_score(model, X, Y, cv=kfold)
print(results2.mean()*100)
results2

77.66666666666666

array([0.75      , 0.73333333, 0.83333333, 0.88333333, 0.75      ,
       0.76666667, 0.81666667, 0.63333333, 0.83333333, 0.76666667])